.navbar {
  position: sticky;
  top: 0;
  left: 50%;
  transform: translateX(-50%, -50%);
  justify-content: space-between;
  font-family: "Titillium Web", sans-serif;
  display: flex;
  padding: 1rem;
  margin: 1rem;
  border-radius: 2rem;
  z-index: 10;
  transition: 0.8s all;
}

.active {
  background-color: rgba(35, 35, 35, 0.9);
}

.logo {
  text-decoration: none;
  color: white;
  padding-right: 2rem;
  margin-left: 2rem;
  white-space: pre;
}

.navbar_links {
  display: flex;
  place-items: center;
  justify-content: space-between;
  width: 40rem;
  margin-right: 3.5rem;
  list-style-type: none;
}

.navbar_links a {
  color: white;
  text-decoration: none;
}

.cart{
  position: relative;
}

.cartItemCount {
  position: absolute;
  font-size: 0.65rem;
  left: 60%;
  top: -50%;
  background-color: #00cf0a;
  padding: 0.15rem;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
