.searchContainer {
  width: 60%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%);
}

input[type="text"] {
  width: 100%;
  padding: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.searchedItemContainer {
  background-color: rgb(35, 35, 35);
  padding: 1rem;
}

.searchedItem {
  display: block;
  padding: 0.25rem;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.searchedItem:hover {
  background-color: #9c9c9c;
}

@media screen and (max-width: 600px) {
  .searchContainer {
    top: 100%;
    width: 90%;
  }
}
