.hero_container {
  border-radius: 0 0 2rem 2rem;
  background: linear-gradient(black, transparent),
    linear-gradient(to bottom, #0c001f, #7722ff, #f3b7ff);
  background-blend-mode: multiply;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 91vh;
  margin-bottom: 2rem;
}

.hero_title {
  position: relative;
  top: 15%;
  left: 10%;
  font-family: "Roboto", sans-serif;
  font-weight: 350;
  font-size: 4rem;
  width: 50%;
  animation: slideAndFade 1s ease-in-out;
}

.imageContainer {
  position: relative;
  top: 5%;
  left: 35%;
  width: 60%;
  height: 60%;
  animation: moveImageContainer 8s ease-in-out infinite;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buttonContainer {
  position: absolute;
  top: 60%;
  left: 15%;
}

.buttonContainer a {
  text-decoration: none;
}

.exploreButton {
  display: flex;
  place-content: center;
  justify-content: space-between;
  background-color: #ffffff;
  font-size: 1.2rem;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
}

.exploreButton:hover {
  cursor: pointer;
  width: 110%;
}

@keyframes slideAndFade {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveImageContainer {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translatey(0);
  }
}
