.hero_container {
  border-radius: 0 0 2rem 2rem;
  background: linear-gradient(black, transparent),
    linear-gradient(to bottom, #0c001f, #7722ff, #f3b7ff);
  background-blend-mode: multiply;
  height: 25rem;
  margin-bottom: 2rem;
}

.hero_title {
  margin: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 350;
  font-size: 2rem;
  text-align: center;
  animation: slideAndFade 1s ease-in-out;
}

.imageContainer {
  margin: auto;
  width: 60vw;
  animation: moveImageContainer 8s ease-in-out infinite;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.buttonContainer {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%);
}

.buttonContainer a {
  text-decoration: none;
}

.exploreButton {
  display: flex;
  place-content: center;
  justify-content: space-between;
  background-color: #ffffff;
  font-size: 1.2rem;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
}

@keyframes slideAndFade {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveImageContainer {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5%);
  }
  100% {
    transform: translatey(0);
  }
}

@media only screen and (min-width: 601px) {
  .hero_container {
    height: 91vh;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .hero_title {
    position: relative;
    text-align: left;
    margin: 0;
    top: 10%;
    left: 10%;
    font-size: 4rem;
    width: 50%;
  }

  .imageContainer {
    margin: 0;
    position: relative;
    top: 5%;
    left: 35%;
    height: 60%;
    animation: moveImageContainer 8s ease-in-out infinite;
  }

  .buttonContainer {
    position: absolute;
    top: 60%;
    left: 15%;
    transform: none;
  }

  .exploreButton:hover {
    width: 110%;
  }
}
