.container {
  font-family: "Titillium Web", sans-serif;
  background-color: white;
  color: black;
}

.reviewContainer {
  display: flex;
  height: 32rem;
  justify-content: center;
}

.review {
  padding: 4rem;
  width: 50%;
  animation: fadeIn 1s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
}

.quotes {
  width: 10%;
}

.quotes img {
  width: 100%;
  object-fit: contain;
}

.review p {
  color: rgb(66, 66, 66);
  font-weight: 100;
  font-size: 1.5rem;
}

.author {
  width: 60%;
  overflow: hidden;
}

.author img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author h6 {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-align: right;
}

