.container {
  font-family: "Titillium Web", sans-serif;
  background-color: white;
  color: black;
}

.reviewContainer {
  display: flex;
  flex-direction: row;
}

.review {
  padding: 2rem;
  width: 60%;
}

.review p {
  color: rgb(66, 66, 66);
  font-weight: 100;
  font-size: 2.5vw;
}

.quotes {
  width: 10%;
}

.quotes img {
  width: 100%;
  object-fit: contain;
}

.author {
  width: 40%;
  overflow: hidden;
}

.author img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
