.keyboardBanner {
  max-width: 1200px;
  position: relative;
  height: 20rem;
  margin: auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.keyboardBanner h1 {
  font-size: 3rem;
  position: absolute;
  padding-left: 10%;
  top: 70%;
  font-family: "Anton", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  transition: transform 0.3s ease;
}

.keyboardBanner img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}