.container {
  display: flex;
  justify-items: center;
}

.productGridContainer {
  width: 85%;
  margin-top: 1rem;
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
  place-items: center;
}

.productGrid {
  font-family: "Titillium Web", sans-serif;
  width: 18rem;
  margin: 0.75rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  background-color: #222;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  transition: transform 0.3s;
}

.productGrid:hover {
  transform: scale(1.1);
}

.link {
  text-decoration: none;
  height: 80%;
}

.product-image-container {
  background-color: #000;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.product-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productName {
  height: 20%;
  font-size: 1rem;
  padding: 1rem;
  color: #eee;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s;
}

.productDesc {
  height: 20%;
  font-size: 0.9rem;
  padding: 1rem;
  color: #ccc;
  transition: all 0.3s;
}

.productPrice {
  font-weight: bold;
  padding: 1rem;
  color: #f9c62d;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
