.keyboardBanner {
  position: relative;
  width: 100vw;
  height: 30rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.keyboardBanner h1 {
  font-size: 8rem;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
  text-shadow: 1px 0 rgb(255, 98, 0);
  font-family: "Anton", sans-serif;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  transition: transform 0.3s ease;
}

.keyboardBanner img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}