.filterContainer {
  font-family: "Montserrat", sans-serif;
  margin-top: 1.75rem;
  width: 18rem;
  height: 90vh;
  background-color: #222;
  color: #fff;
  padding: 1.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.options {
  border: none;
  padding: 0;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #ccc;
}

.mobileFilter {
  display: none;
}

.optionGroup {
  margin-bottom: 0.5rem;
}

.optionHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}

.optionHeader h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #f9c62d;
}

.button {
  background-color: transparent;
  border: none;
  color: #f9c62d;
  font-size: 0.8rem;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .filterContainer {
    width: 100%;
    height: 3rem;
    display: grid;
    align-items: center;
    padding: 0;
  }

  .mobileFilter {
    display: inline;
    border: none;
    background-color: transparent;
    color: white;
    display: grid;
  }

  .options {
    flex-direction: row;
    justify-content: space-around;
  }

  .optionGroup {
    width: 10rem;
    margin: 0;
  }

  .optionHeader {
    position: relative;
    align-items: center;
    display: flex;
    margin-bottom: 0;
    width: 8.5rem;
  }

  .filters {
    margin-top: 1rem;
    margin-left: 3.25%;
    position: absolute;
    padding: 1rem;
    border-radius: 0.25rem;
    background-color: #222;
  }
}
