.filterContainer {
  font-family: "Montserrat", sans-serif;
  margin-top: 1.75rem;
  width: 18rem;
  background-color: #222;
  color: #fff;
  padding: 1.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  flex-shrink: 0;
}

.options {
  position: sticky;
  top: 10%;
  border: none;
  padding: 0;
}

.optionGroup {
  margin-bottom: 0.5rem;
}

.optionHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}

.optionHeader h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #f9c62d;
}

.button {
  background-color: transparent;
  border: none;
  color: #f9c62d;
  font-size: 0.8rem;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.options {
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #ccc;
}
